# Virtualenv
/.venv/
/venv/

.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
.ipynb_checkpoints/

/images/res/*.jpg
/eval_results/
/results/
/weights/
/annotation_json/
/config/__pycache__/
/tools/__pycache__/
/model/__pycache__/


/infer_result/
/inference_model/
/output/


/VGG19_pretrained/
/spade_G/
/stargan/


*.gz
*.npz
*.zip
*.pt
*.pth



